<% include partials/header %>

      <section class="header" id="title">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="container">
                        <h1 class="titulo">English for Kids!</h1>
                        <h2 class="sub-titulo">Online</h2>
                        <p class="chamada">Conecte seu filho ao mundo.</p>
                        <button type="button" class="btn btn-danger btn-lg">Get Start!</button>
                    </div>          
                </div>
                <div class="col-lg-6">
                    <img src="/images/kids.jpg" alt="" class="books img-fluid">
                </div>
            </div>
        </div>
        
    </section>
    
    <section class="passos" id="passos">
        <div class="container">
            <div class="row">
               <div class="passosContent col-lg-4 col-md-12">
                    <h1 class="passo-titulo">Passo 1</h1>
                    <i class="fas fa-3x fa-user-check"></i>
                    <p>Clique em sign in para realizar um breve cadastro.</p>
               </div> 
    
               <div class="passosContent col-lg-4 col-md-12">
                    <h1 class="passo-titulo">Passo 2</h1>
                    <i class="fas fa-3x fa-pencil-alt"></i>
                    <p>Realize o teste de nivelamento respondendo ao nosso questionário.</p>
                </div>
    
                <div class="passosContent col-lg-4 col-md-12">
                    <h1 class="passo-titulo">Passo 3</h1>
                    <i class="fas fa-3x fa-check"></i>
                    <p>Pronto. Entrarei em contato com você em até 24 horas para conversarmos.</p>
                </div>     
            </div>
        </div>
    </section>
    
    
    <section class="lados" id="lados">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img src="/images/onlineCourse.jpg" alt="study online" class="img-study img-fluid">
                </div>
                <div class="col-lg-6">
                    <div class="chamada-study">
                        <h2 class="tituloChamada">Curso 100% online</h2>
                        <p class="conteudoChamada">O curso foi desenvolvido para crianças e é adaptado individualmente para cada aluno.
                            Meu objetivo é trazer um ensino forte mas sem comprometer o interesse da criança com o aprendizado.
                            Além disso, os pais e alunos contam com a praticidade e conforto de estudar sem precisar sair de casa.</p> 
                    </div>                                  
                </div>
            </div>
            <div class="row test-row">
                <div class="col-lg-6">
                    <div class="chamada-test">
                        <h2 class="tituloChamada">Preparação para Exames</h2>
                        <p class="conteudoChamada">Eu também ajudo os alunos a se prepararem para os principais exames de proficiência da lingua inglesa,
                            tais como: TOEFL, IELTS e os Cambridge. Os alunos terão todo suporte e contarão com a ajuda de simulados para não terem problema
                            quando o exame chegar!
                        </p> 
                    </div>  
                </div>
                <div class="col-lg-6">        
                    <img src="/images/test1.jpg" alt="test online" class="img-test img-fluid">
                </div>
            </div>
            <div class="row vagas">
                <div class="col-lg-6">
                    <img src="/images/vagas.jpg" alt="study online" class="img-vagas img-fluid">
                </div>
                <div class="col-lg-6">
                    <div class="chamada-vagas">
                        <h2 class="tituloChamada">Vagas Limitadas</h2>
                        <p class="conteudoChamada">No final de cada módulo eu faço um remanejamento e assim,
                            distribuo os novos horários em minha agenda. Por isso, para atender a todos meus alunos sempre com a mesma qualidade,
                            a limitação de vagas se faz necessário. 
                        </p> 
                    </div>                                  
                </div>
            </div>
        </div>
    </section>
    
    <section class="planos" id="planos">
        <h2 class="titulo-precos">Planos</h2>
        <p class="content-precos">Escolha o melhor plano para você</p>
        <div class="row row-preco">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h3>Mensal</h3>
                    </div>
                    <div class="card-body">
                        <h2 class="price-title">R$280</h2>
                        <p>Acesso ilimatado ao fórum</p>
                        <p>3 horas de aula por semana</p>
                        <p>40 min de conversação per week</p>
                        <button type="button" class="btn btn-block btn-outline-danger btn-lg">Sign Up for Free</button>
                    </div>
                </div>
            </div>
    
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h3>Semestral</h3>
                    </div>
                    <div class="card-body">
                        <h2 class="price-title">R$245</h2>
                        <p>Acesso ilimitado ao fórum</p>
                        <p>3 horas de aula por semana</p>
                        <p>2 horas de conversação per week</p>
                        <button type="button" class="btn btn-block btn-outline-danger btn-lg">Sign Up for Free</button>
                    </div>
                </div>
            </div>
    
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h3>Anual</h3>
                    </div>
                    <div class="card-body">
                        <h2 class="price-title">R$210</h2>
                        <p>Acesso ilimitado ao fórum</p>
                        <p>4 horas de aula por semana</p>
                        <p>3 horas de conversação por semana</p>
                        <button type="button" class="btn btn-block btn-outline-danger btn-lg">Sign Up for Free</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="contato" id="contato">
        <div class="container">
            <h2 class="contato-titulo">Contato</h2>
            <p class="contato-content"><i class="fas fa-phone"></i> <span>Telefone:</span> (27) 992523542</p>
            <p class="contato-content"><i class="fas fa-envelope"></i> <span>Email:</span> zlata@nis.com</p>
    
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <form>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Nome</label>
                            <input type="text" class="form-control" id="nome" placeholder="Nome">
                        </div>
                        <div class="form-group">
                                <label for="exampleFormControlInput1">Email</label>
                                <input type="email" class="form-control" id="email" placeholder="name@example.com">
                            </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Mensagem</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                    </form>
                    <button type="button" class="btn btn-danger btn-lg">Enviar</button>
                </div>
                <div class="col-lg-6 col-md-12" id="map">
                    
                </div>
            </div>
            <div id="myFooter">
                <ul>
                    <li><a href="http://www.facebook.com"><i class="fab fa-2x fa-facebook-square"></i></a></li>
                    <li><a href="http://www.twitter.com"><i class="fab fa-2x fa-twitter-square"></i></a></li>
                    <li><a href="http://www.instagram.com"><i class="fab fa-2x fa-instagram"></i></a></li>
                </ul>
                <footer>
                    <small>&copy; Copyright 2019 @ Todos os direitos reservados</small>
                </footer> 
            </div>
        </div>

        <script>
            mapboxgl.accessToken = 'pk.eyJ1IjoiYW1hdXJpc2FudG9zIiwiYSI6ImNqdWp3d2hjeTFuNDI0NHMwb2kwdzN0NDMifQ.JuOybq1Y9V2YQajGCrP3nA';
            var map = new mapboxgl.Map({
            container: 'map', // container id
            style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
            center: [-40.272749, -20.247932], // starting position [lng, lat]
            zoom: 16 // starting zoom
            });

            var marker = new mapboxgl.Marker()
                .setLngLat([-40.272749, -20.247932])
                .addTo(map);
         </script> 

    <% include partials/footer %>


