<% include partials/header %>

<section class="nivelamento" id="nivelamento">
    <div class="container">
        <h2 id='teste_status' class="nivelamento-titulo">English Questions!</h2>        
        <h6 id="progresso">Question</h6>

        <div id="teste">

            
        </div>    
        
    </div>
</section>

<script src="quiz.js"></script>