<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Inglês para crianças</title>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,800" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu:700" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>
    </head>
    <body>
        
      <section class="cabecalho" id="title">
          <div class="container-fluid">
              <nav class="navbar navbar-expand-lg navbar-light bg-light">
                  <div class="container container-nav download-button">
                      <a class="navbar-brand" href="#"><i class="fas fa-2x fa-graduation-cap"></i></a>
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                    
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                              <a class="nav-link" href="/">Sobre mim</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link itens-deslocaveis" href="/#planos">Planos</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link itens-deslocaveis" href="/nivelamento">Nivelamento</a>
                            </li>   
                            <li class="nav-item">
                                <a class="nav-link itens-deslocaveis" href="/#contato">Contato</a>
                            </li>                                            
                          </ul> 
                          <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Sign In</a>
                            </li> 
                            <li class="nav-item">
                                <a class="nav-link" href="#">Login</a>
                            </li> 
                        </ul>                   
                      </div>
                  </div>
                </nav>
          </div>
      </section>

    <section class="nivelamento" id="nivelamento">
        <div class="container">
            <h2 class="nivelamento-titulo">Test your English!</h2>
           <% questions.forEach((quiz) =>{ %>
                <h4> <%= quiz.question %></h4>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            <%= quiz.answers[0] %>
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            <%= quiz.answers[1] %>
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            <%= quiz.answers[2] %>
                        </label>
                   </div>              
            <% }); %>   
                               
        </div>
    </section>
    